.banner {
    background: var(--cor-gradiente);
    color: var(--cor-secundaria);
    padding: 2em 1.5em;
    text-align: center;
}

.banner__titulo {
    font-size: var(--font-size-grande);
    font-weight: var(--font-weight-bold);
}

.banner__texto {
    font-size: var(--font-size-media);
    font-weight: var(--font-weight-medium);
    padding: 1.2em 1.5em 1.5em;
    line-height: 1.5;
}

.banner__pesquisa {
    background-color: transparent;
    width: 100%;
    padding: 1.2em;
    border: 1px solid var(--cor-secundaria);
    border-radius: 24px;
    color: var(--cor-secundaria);
}

.banner__pesquisa::placeholder {
    color: var(--cor-secundaria);
    font-size: var(--font-size-pequena);
    font-weight: var(--font-weight-regular);
    font-family: var(--fonte-principal);
    background-image: url(../assets/Busca.svg);
    background-repeat: no-repeat;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .banner {
        padding: 6em 13em;
    }

    .banner__titulo {
        font-size: 2.25em;
    }

    .banner__pesquisa {
        width: 70%;
    }
}