.carossel__titulo {
    background-color: var(--cor-secundaria);
    color: var(--cor-titulo-e-botoes);
    font-size: var(--font-size-grande);
    font-weight: var(--font-weight-bold);
    text-align: center;
    padding: 1.15em 0 0.6em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0 0.8em 0;
}

.swiper-pagination-bullet-active {
    background: var(--cor-gradiente);
}

.card {
    background-color: var(--cor-secundaria);
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    margin: 1.5em;
    padding: 1.3em 0.875em;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
}

.descricao {
    width: 50%;
}

.descricao__titulo {
    color: var(--cor-titulo-e-botoes);
    font-size: var(--font-size-media);
    font-weight: var(--font-weight-bold);
    line-height: 1.6;
}

.descricao__livro {
    color: var(--cor-terciaria);
    font-size: var(--font-size-grande);
    font-weight: var(--font-weight-bold);
    margin: 0.63em 0;
    line-height: 1.5;
}

.descricao__texto {
    color: var(--texto-card);
    font-size: var(--font-size-pequena);
    font-weight: var(--font-weight-regular);
    line-height: 1.5;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botoes {
    display: flex;
    gap: 1.8em;
    margin: 1em 0 0 0.8em;
}

.botao__ancora{
    background-color: var(--cor-titulo-e-botoes);
    color: var(--cor-secundaria);
    font-size: var(--font-size-media);
    font-weight: var(--font-weight-bold);
    width: 46%;
    text-align: center;
    padding: 1em 0;
}