.carossel__titulo {
    background-color: var(--cor-secundaria);
    color: var(--cor-titulo-e-botoes);
    font-size: var(--font-size-grande);
    font-weight: var(--font-weight-bold);
    text-align: center;
    padding: 1.15em 0 0.6em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0 0.8em 0;
}

.swiper-pagination-bullet-active {
    background: var(--cor-gradiente);
}

.card {
    background-color: var(--cor-secundaria);
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    margin: 1.5em;
    padding: 1.3em 0.875em;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
}

.descricao {
    width: 50%;
}

.descricao img {
    margin-bottom: 0.4em;
}

.descricao__titulo {
    color: var(--cor-titulo-e-botoes);
    font-size: var(--font-size-media);
    font-weight: var(--font-weight-bold);
    line-height: 1.6;
}

.descricao__livro {
    color: var(--cor-terciaria);
    font-size: var(--font-size-grande);
    font-weight: var(--font-weight-bold);
    margin: 0.63em 0;
    line-height: 1.5;
}

.descricao__texto {
    color: var(--texto-card);
    font-size: var(--font-size-pequena);
    font-weight: var(--font-weight-regular);
    line-height: 1.5;
}

.descricao__imagem {
    margin-bottom: 2.5em;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botoes {
    display: flex;
    gap: 1.8em;
    margin: 1em 0 0 0.8em;
}

.botao__ancora{
    background-color: var(--cor-titulo-e-botoes);
    color: var(--cor-secundaria);
    font-size: var(--font-size-media);
    font-weight: var(--font-weight-bold);
    width: 46%;
    text-align: center;
    padding: 1em 0;
}

.botao__ancora:hover {
    background-color: var(--cor-botoes-hover);
}

@media screen and (min-width: 1024px) {
    .carossel__titulo {
        font-size: 1.625em;
        padding-top: 2em;
    }

    .swiper {
        width: 70%;
    }

    .swiper-pagination {
        margin: 1.5em 0 2.5em 0;
    }

    .swiper-button-prev, .swiper-button-next {
        display: block;
        color: var(--cor-secundaria);
        background: var(--cor-gradiente);
        border-radius: 50%;
        padding: 10px;
        height: 15px;
        width: 15px;
    }

    .card {
        margin: 3em;
        width: 50%;
        justify-self: center;
    }

    .botao__ancora, .descricao__imagem{
        width: 30%;
    }
}

@media screen and (min-width: 1728px) {
    .carossel__titulo, .descricao__titulo {
        font-size: 2em;
        
    }

    .descricao__titulo {
        line-height: 1.3;
    }

    .descricao__texto {
        font-size: var(--font-size-media);
    }

    .carossel__conteiner {
        display: flex;
        align-items: center;
        margin: 2em 10em 5em;
        gap: 3em;
    }

    .swiper {
        width: 45%;
    }

    .swiper-pagination {
        margin: 1em 0;
    }

}