@import url(./header.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-de-fundo: #EBECEE;
    --cor-titulo-e-botoes: #EB9B00;
    --cor-secundaria: #FFFFFF;
    --cor-gradiente: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --cor-terciaria: #002F52;
    --texto-banner: #000000d9;
    --texto-footer: #000000;

    --fonte-principal: "Poppins", sans-serif;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --font-size-pequena: 0.875em;
    --font-size-media: 1em;
    --font-size-grande: 1.125em;
}

body {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
}