.topicos{
    background: var(--cor-gradiente);
    border-top: 1em solid var(--cor-secundaria);
    color: var(--cor-secundaria);
    text-align: center;
    padding: 24px 0;
}

.topicos__titulo {
    font-size: var(--font-size-media);
    font-weight: var(--font-weight-light);
    margin: 0 0 1.5em 0;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.topicos__item {
    background-color: var(--cor-titulo-e-botoes);
    padding: 1em 1.5em;
    margin: 0.5em;
}

.topicos__link {
    font-size: var(--font-size-pequena);
    font-weight: var(--font-weight-bold);
}

@media screen and (min-width: 1024px) {
    .topicos{
        border-top: none;
        padding: 24px 100px;
    }

    .topicos__titulo {
        font-size: 1.5em;
        margin: 0.5em 0 1.5em 0;
    }

    .topicos__item {
        padding: 1.5em 2em;
    }

    .topicos__link {
        font-size: 1.5em;
    }
}